.UploadCard {
  box-shadow: none !important;
  max-height: 10em;

  span:first-of-type {
    font-size: 25px;
    color: #b9b9b9;
  }

  span:last-of-type {
    font-size: 18px;
    color: #777;
  }

  .Icon {
    color: #ccc;
  }

  .dzActive {
    background-color: green !important;
  }
}
